.block.basic-content-slider {

    .col {
        position: relative;
    }

    .swiper {
        &.background {
            @include full-bleed();
            height: rem(600);

            figure {
                height: rem(600);
                width: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-2);
                    opacity: 0.35;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &.copy {
            width: 100%;
            position: absolute;
            bottom: rem(60);
            z-index: 9;

            .content {
                max-width: rem(550);
                color: var(--color-1);

                .heading {
                    margin-bottom: rem(20);
                }

                p {
                    margin-bottom: rem(30);
                }
            }

            .swiper-pagination {
                bottom: 0;
                display: flex;
                justify-content: flex-end;
                gap: rem(8);

                &-bullet {
                    opacity: 1;
                    border: rem(2) solid var(--color-1);
                    background-color: transparent;
                }

                &-bullet-active {
                    background-color: var(--color-1);
                }
            }
        }
    }

}