// Our configs would be declared here

:root {
	// Colors
	--color-1: #fdfaf4; // white
	--color-2: #111111; // charcoal
	--color-3: #787370; // grey
	--color-4: #F44336; // red

	--body-background: var(--color-1);
	--body-foreground: var(--color-2);

	// Fonts
	--heading-font: "DM Sans", sans-serif;
	--heading-alternate: 'FSP DEMO - Juana Light It';
	--body-font: 'Jost', sans-serif;
}