*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	line-height: 1.5;
	background-color: var(--body-background);
	color: var(--body-foreground);
	font-family: var(--body-font);
}

a {
	color: inherit;
	font-family: var(--body-font);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}

.heading {
	letter-spacing: rem(3.5);
	text-transform: capitalize;

	span {
		font-family: var(--heading-alternate);
		letter-spacing: normal;
	}

	&-style-1 {
		line-height: 1.1;

		span {
			display: block;
		}
	}

	&-style-2 {
		span {
			display: inline-block;
		}
	}
}

.label {
	display: inline-block;
	padding: rem(5) rem(20);
	border: rem(2) solid var(--color-2);
	font-size: fluid(14, 16);
}

svg {
	// stroke-width: 1.5px;
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: none;
}

.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	/* Hide the element visually */
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	/* Ensure text doesn't wrap */
}