$hamburger-padding-x : 0;
$hamburger-padding-y : 0;
$hamburger-layer-width : 26px;
$hamburger-layer-height : 2px;
$hamburger-layer-color : var(--color-2);
$hamburger-hover-opacity : 1;

@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";